body{
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* background: rgb(140, 136, 208);
    background: linear-gradient(90deg, rgb(96, 92, 172) 0%, rgb(162, 176, 189) 0%, rgb(51, 63, 62) 49%, rgba(61, 127, 165, 0.981) 100%); */